<div class="bjui-pageContent">
    <form action="__CONTROLLER__/updatedy" class="pageForm" data-toggle="validate">
        <input type="hidden" name="id" value="{$dyinfo.id}">
        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <td>
                    <label for="j_dialog_name" class="control-label x90">名称：</label>
                    <input type="text" name="name" id="j_dialog_name" value="{$dyinfo.name}" data-rule="required" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_dialog_time" class="control-label x90">上线时间：</label>
                    <!-- <input type="text" name="level" id="j_dialog_level" value="0" data-rule="required" size="20" readonly>-->
                    <input type="text" name="time" id="j_dialog_time" value="{$dyinfo['time']}" data-toggle="datepicker" data-rule="required;date" size="15">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_dialog_show" class="control-label x90">是否显示：</label>
                    <select name="isshow" id="j_dialog_show" data-toggle="selectpicker">
                        <option value="0" <if condition="$dyinfo['isshow'] eq 0">selected<else/></if>>隐藏</option>
                        <option value="1" <if condition="$dyinfo['isshow'] eq 1">selected<else/></if>>显示</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_dialog_url" class="control-label x90">链接地址：</label>
                    <input type="text" name="url" id="j_dialog_url" value="{$dyinfo.url}" size="20">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>