<div class="bjui-pageContent">
    <form action="__CONTROLLER__/addad" class="pageForm" data-toggle="validate"  enctype="multipart/form-data"   data-reload-navtab="true">
        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <td>
                    <label for="j_dialog_name" class="control-label x90">名称：</label>
                    <input type="text" name="name" id="j_dialog_name" value="" data-rule="required" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_dialog_position" class="control-label x90">位置：</label>
                    <select name="ad_position" id="j_dialog_position" data-toggle="selectpicker">
                        <option value="1">首页幻灯片</option>
                        <option value="2">首页业务</option>
                        <option value="3">首页客户链接</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x85">图片：</label>
                    <input name="ad_img" type="file" size="30" value=""   />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_dialog_link" class="control-label x90">链接地址：</label>
                    <input type="text" name="ad_link" id="j_dialog_link" value="" size="20">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>